# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Microsoft projects/files
*.vcxproj*
*.csproj*
*.sln
*.dll
*.lib

# OSX files
*.DS_Store

# QtCreator using CMake
CMakeLists.txt.user
